{% extends 'base.html.twig' %}

{% block title %}
	Pirates || Trouver le Trésor
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('map') }}
{% endblock %}

{% block body %}
	<div id="map" class="container-fluid">
		<h1>La Carte</h1>
		<div class="row">
			<div class="col-md-10 col-sm-12">
				<div class="map">
					{% if map is empty %}
						<div class="alert alert-warning">You are still on the firm ground, you have to load fixtures first !</div>
					{% endif %}
					{% for y in 0..6 %}
						<div class="row">
							{% for x in 0..12 %}
								{% if map[x][y] is defined %}
									<div class="tile col-1 {{ map[x][y].type }}">
										<div class="tile-name">{{ map[x][y].name ?? ' '}}</div>
										<div class="tile-name coords">{{ map[x][y].coordX }},{{ map[x][y].coordY }}</div>
										{% if boat.coordX == x and boat.coordY == y %}
											<img id="boat" class="boat img-fluid" src="{{ asset('build/images/boat.png') }}" alt="boat" loading="load"/>
										{% endif %}
									</div>
								{% endif %}
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-2 col-sm-12 navigation-infos">
				<div class="navigation">
					<h2>Navigation</h2>
					<p class="nav-infos">Vous pouvez utiliser les touches de votre clavier ou les boutons de la boussole.</p>
					<div class="compass">
						<div class="row">
							<a class="btn col-2 js-move" href="{{ path("moveDirectionBoat", { direction: "N"}) }}">N</a>
						</div>
						<div class="row middle">
							<a class="btn col-2 js-move" href="{{ path("moveDirectionBoat", { direction: "W"}) }}">O</a>
							<a class="btn col-2 js-move" href="{{ path("moveDirectionBoat", { direction: "E"}) }}">E</a>
						</div>
						<div class="row">
							<a class="btn col-2 js-move" href="{{ path("moveDirectionBoat", { direction: "S"}) }}">S</a>
						</div>
					</div>
				</div>
				<div class="infos">
					<h2>Informations</h2>
					<div class="board">
						<p>Longitude :
							<span id="longitude">{{ boat.coordX }}</span>
						</p>
						<p>Latitude :
							<span id="latitude">{{ boat.coordY }}</span>
						</p>
						<div class="overlay-image">
							<img class="img-fluid" src="{{ asset('build/images/icon-help.png') }}" alt="indice" loading="lazy">
							<span class="overlay-text">"J'ai abandonné mon trésor sur une île perdue...."</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	{{ encore_entry_script_tags('moveBoat') }}
{% endblock %}
